---
http_interactions:
- request:
    method: get
    uri: http://<%= api_key %>:X@bibles.org/v2/versions/GNT.js
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
    body:
      encoding: US-ASCII
      string: ! '{"response":{"versions":[{"id":"GNT","name":"Good News Translation","lang":"eng-US","lang_code":"ISO
        639-3","contact_url":"http:\/\/www.americanbible.org\/about\/contact","audio":"NONE","copyright":"<p>RIGHTS
        & PERMISSIONS GUIDELINES<\/p><ol class=\"ol-copyright\"><li>Policy for use
        of the Good News Translation (GNT)<ol><li><u>General Statement<\/u><br \/>The
        GNT text may be quoted in any form (written, visual, electronic or audio)
        up to and inclusive of five hundred (500) verses without written permission,
        providing the verses quoted do not amount to 50% of a complete book of the
        Bible nor do the verses account for twenty-five percent (25%) or more of the
        total text of the work in which they are quoted.  This permission is contingent
        upon an appropriate copyright acknowledgment - (see below).<\/li><li><u>Use
        of the GNT beyond above limits requires written permission.<\/u><ol>                <li><i>Commercial
        Use:<\/i> Commercial use means use in any product offered for sale, lease,
        rental or barter on any level.  Rights and permissions requests for the GNT
        in media intended for commercial use should be addressed to The American Bible
        Society, 1865 Broadway, New York, NY  10023, USA .  Request shall contain
        the following information:  (1) exact portions to be quoted, (2) the medium
        in which those portions will be quoted, (3) estimated percentage of the total
      [...]
