---
http_interactions:
- request:
    method: get
    uri: http://<%= api_key %>:X@bibles.org/v2/versions.js
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
    body:
      encoding: US-ASCII
      string: ! '{"response":{"versions":[{"id":"cym-BCN","name":"Beibl Cymraeg Newydd","lang":"cym","lang_code":"ISO
        639-3","contact_url":"http:\/\/www.biblesociety.org.uk\/","audio":"NONE","copyright":"<p>\u00a9
        Cymdeithas y Beibl<\/p>\n<p>\u00a9 British &amp; Foreign Bible Society<\/p>","info":"<h1>Beibl
        Cymraeg Newydd<\/h1>\n<p>Y Beibl Cymraeg Newydd (Diwygiedig) yw''r cyfieithiad
        safonol o''r Beibl ar gyfer siaradwyr Cymraeg a dysgwyr yn yr unfed ganrif
        ar hugain. Y mae''r holl enwadau Cymraeg wedi cefnogi''r cyfieithiad cyfoes
        hwn a dyma''r cyfieithiad a ddefnyddir mewn cynulleidfaoedd ac ysgolion ar
        draws Cymru. Defnyddiwyd testun y BCN (Diwygiedig) ar Y Llais, sef fersiwn
        y Testament Newydd ar lafar a gyhoeddwyd yn 2005.<\/p>\n<p>Cafodd y BCN (Diwygiedig)
        ei gyhoeddi gyntaf yn 2004 a cheir nifer sylweddol o ddiwygiadau ar destun
        y BCN a gyhoeddwyd yn 1988. Y mae''n olynydd teilwng i Feibl William Morgan
        (1588) cyfrol sydd yn ei thro''n cael ei ystyried fel y llyfr mwyaf dylanwadol
        a gyhoeddwyd yn y Gymraeg. Y mae''r BCN ( Diwygiedig) yn cadw cywirdeb ac
        urddas Beibl William Morgan wrth egluro''i ystyr i genhedlaeth newydd o ddarllenwyr
        Cymraeg.<\/p>\n\n<h1>Revised New Welsh Bible<\/h1>\n<p>This translation, published
        by the British &amp; Foreign Bible Society, was published in 1988.<\/p>\n<p>If
        you are interested in obtaining a printed copy, please contact the British
        &amp; Foreign Bible Society at <a href=\"http:\/\/www.biblesociety.org.uk\/\">www.biblesociety.org.uk.<\/a><\/p>","lang_name":"Cymraeg","lang_name_eng":"Welsh","abbreviation":"BCN","updated_at":"2013-04-30T22:30:06-05:00"},{"id":"cym-BNET","name":"beibl.net","lang":"cym","lang_code":"ISO
        639-3","contact_url":"www.gobaith.org","audio":"NONE","copyright":"<p>beibl.net
        - hawlfraint \u00a9 2013 Gobaith i Gymru, copyright \u00a9 2013 Gobaith i
        Gymru (Hope for Wales)<\/p>","info":"<h1>beibl.net<\/h1>\n<p>Cyfieithiad poblogaidd
        o\u2019r Beibl mewn Cymraeg llafar syml. Mae beibl.net yn gyfieithiad cwbl
        wreiddiol.  Dydy o ddim yn ddiwygiad o unrhyw fersiw[...]
