---
http_interactions:
- request:
    method: get
    uri: http://<%= api_key %>:X@bibles.org/v2/versions/ENG-GNTD.js
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
    body:
      encoding: US-ASCII
      string: ! '{"response":{"versions":[{"id":"eng-GNTD","name":"Good News Translation
        (US Version)","lang":"eng-US","lang_code":"ISO 639-3","contact_url":"http:\/\/www.americanbible.org\/","audio":"NT","copyright":"<p>Good
        News Translation (Today&#8217;s English Version, Second Edition) &#169; 1992
        American Bible Society. All rights reserved.<\/p>","info":"<p>Good News Translation
        with Deuterocanonicals\/Apocrypha. Scripture taken from the Good News Translation
        (r) (Today''s English Version, Second Edition). Copyright (c) 1992 American
        Bible Society. Used by permission.<\/p>","lang_name":"English (US)","lang_name_eng":"English","abbreviation":"GNTD","updated_at":"2013-08-06T12:38:47-05:00"}],"meta":{"fums":"<script>\nvar
        _BAPI=_BAPI||{};\nif(typeof(_BAPI.t)===''undefined''){\ndocument.write(''\\x3Cscript
        src=\"''+document.location.protocol+''\/\/d2ue49q0mum86x.cloudfront.net\/include\/fums.c.js\"\\x3E\\x3C\/script\\x3E'');}\ndocument.write(\"\\x3Cscript\\x3E_BAPI.t(''5258661f87d657.57334300'');\\x3C\/script\\x3E\");\n<\/script><noscript><img
        src=\"https:\/\/d3a2okcloueqyx.cloudfront.net\/nf1?t=5258661f87d657.57334300\"
        height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height: 0; width: 0;\"
        \/><\/noscript>","fums_tid":"5258661f87d657.57334300","fums_js_include":"d2ue49q0mum86x.cloudfront.net\/include\/fums.c.js","fums_js":"var
        _BAPI=_BAPI||{};if(typeof(_BAPI.t)!=''undefined''){ _BAPI.t(''5258661f87d657.57334300'');
        }","fums_noscript":"<img src=\"https:\/\/d3a2okcloueqyx.cloudfront.net\/nf1?t=5258661f87d657.57334300\"
        height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height: 0; width: 0;\"
        \/>"}}}'
  recorded_at: Fri, 11 Oct 2013 20:57:03 GMT
recorded_with: VCR 2.6.0
